.service1-container {
   
    min-height: 100vh; 
    color: #fff; 
    background-color: rgb(12, 221, 151);
    
  }
  

.service1-container {
   
    justify-content: space-between;
    align-items: flex-start;

    
  
  }
  
  .main-content {
    
    max-width: 700px; 
    margin-top:150px;
    margin-left: 700px;

    
    
  }
  
  .main-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
 