.navbar{
    display:  flex;
    justify-content: space-around;
    padding: auto;
    box-shadow: 0 1px 3px -2px black;
    background: blueviolet;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.nav-logo img{
    width: 10%;
    height: 600;
    gap: 5px;
    border-radius: 24px;
    padding-left: 40px;
}

.nav-logo p{
    color: 171717;
    font-size: 35px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 60px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    
}

.nav-menu li{

    padding: 3px;
}



.nav-menu li:hover{
    background-color: #6b18b8;
    color: #000000;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   gap: 5px;
   cursor: pointer;
}

.nav-menu li select{
   background: transparent;
   border-style: none;
   font-size: 18px;
   font-weight: 550;
   cursor: pointer;
}

.nav-menu li select:active{
    background: transparent;
    border-style: none;    
 }

.nav-menu hr{
    border: none;
    width: 90%;
    height: 3px;
    border-radius: 10px;
    background: white;
}
.nav-login-card{
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 35px;
}

.nav-login-card button{
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    border-radius: 75px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    background: white;
    cursor: pointer;
}
.nav-login-card button:active{
    background: transparent;
    color: black;
}
