.login {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: auto;
  }
  
  .login h2 {
    margin-bottom: 20px;
  }
  
  .login form div {
    margin-bottom: 10px;
  }
  
  .login form label {
    display: flex;
    margin-bottom: 5px;
  }
  
  .login form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .login form button:hover {
    background-color: #0056b3;
  }
  
  .login form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .login form a:hover {
    text-decoration: underline;
    cursor: pointer;
    
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999; /* Ensure it appears above other elements */
  }
  
  .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
  }
  
  .close:hover {
    color: #000;
  }
  
  .popup p {
    margin-top: 10px;
    text-align: center;
  }
  
  