/* ConsultationNavbar.css */

.consultation-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #471d02;
    padding: 10px 20px;
    color: #fff; /* Text color */
  }
  
  .support-navbar {
    display: flex;
    justify-content: center;
  
  
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px; /* Adjust the width of the logo */
    margin-right: 10px;
  }
  
  .navbar-center {
    flex: 1;
    margin: 0 100px;
  }
  
  .navbar-center input {
    width: 100%;
    padding: 5px;
    border: 1px solid #fff; /* Adjust the border color */
  }
  
  .navbar-right {
    display: flex;
  }
  
  .consultation-navbar a, .support-navbar a {
    color: #fff; /* Link text color */
    text-decoration: none;
    margin-right: 15px;
  }
  
  